<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Give Appreciation!
    </super-navbar-title>
  </super-navbar>

   <div class="item item-image ">
     <img src="/images/give_appreciation_background.jpg">
   </div>

   <div class="background-image-container">
     <div class="padding background-image-container__title--give-appreciation">BUILD FRIENDSHIP<br> AND CLOSENESS</div>
   </div>

   <div class="padding main-explanation row" style="background-color: #FDA354;">
       <div class="super-information-circled col col-5 col-center"></div>
       <div class="col col-90"> Build fondness and admiration by letting your partner know the ways in which you appreciate them.
       </div>
   </div>

   <div class="sub-explanation__text">
     <p>Our studies show that the more couples look for positive "little things" in their relationship and acknowledge them, the more they like and trust each other. Build fondness and admiration by using these simple phrases as examples of things to thank your partner for. Or just scroll through and show your partner the screen, if it is hard for you to express yourself out loud!</p>
   </div>

  <super-navigate view-id="begin-questions">
    <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>